* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: white;
    background-color: #19ACD4;
    font-family:sans-serif;
    margin-top: 50px;
}

.aplicacionTareas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tareasListaPrincipal {
    width: 600px;
    min-height: 500px;
    background-color: #28D4EB;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
}

.tituloPrincipal {
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    padding: 25px;
    font-weight: 600;
}